body,
html {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.4px;
  font-size: 13px;
}

footer,
header,
main {
  box-sizing: border-box;
  position: relative;
  display: block;
}

blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans SC", sans-serif;
}

@media (min-width: 768px) {
  body,
  html {
    font-size: 15px;
  }
}

a:hover {
  color: #725eff;
}

.layout,
.page,
body,
html {
  height: 100%;
}

.layout {
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
}

.layout > * {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.layout-nav .container-fluid {
  justify-content: flex-start;
}

.nav-main {
  border-bottom: none;
  z-index: 502;
  padding: 0;
}

@media (min-width: 768px) {
  .nav-main {
    border-bottom: 1px solid #ededed;
  }
}

.nav-main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: start;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: relative;
  height: 50px;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .nav-main-content {
    height: 80px;
    padding: 10px 40px;
    max-width: 1256px;
  }
}

@media (min-width: 1024px) {
  .nav-main-content {
    padding: 10px 60px;
  }
}

.nav-main-left {
  flex: 0 0 auto;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .nav-main-left {
    position: static;
    margin-right: 35px;
  }
}

.navbar-brand {
  margin: -5px;
  padding: 5px;
  font-size: 25px;
  font-weight: 900;
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 35px;
  }
}

.navbar-brand:hover {
  color: rgb(0, 0, 0);
}

.nav-main-menu {
  align-items: flex-start;
  flex: 0 0 auto;
  display: none;
}

@media (min-width: 768px) {
  .nav-main-menu {
    display: block;
  }
}

.nav-main-menu-item {
  position: relative;
  display: inline-block;
  margin: 8px 10px 0;
  padding: 14px 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  color: #424242;
  text-decoration: none;
}

@media (min-width: 768px) {
  .nav-main-menu-item:active,
  .nav-main-menu-item:hover {
    color: #725eff;
  }
}

.nav-main-menu-item--active,
.nav-main-menu-item--open {
  color: #725eff;
}

.nav-main-menu-item--open:before {
  margin: 1px 0 0 -5px;
  border-width: 0 5px 10px;
  border-color: transparent transparent #dbdbdb;
}

.nav-main-menu-item--open:after,
.nav-main-menu-item--open:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
}

.nav-main-menu-item--open:after {
  margin: 2px 0 0 -4px;
  border-width: 0 4.5px 9px;
  border-color: transparent transparent #fff;
  transform: translateX(-0.5px);
}

.nav-main-menu-item--open:after,
.nav-main-menu-item--open:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
}

.nav-main-right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 auto;
}

@media (min-width: 768px) {
  .nav-main-right {
    flex: 1 0 auto;
    position: static;
  }
}

.nav-login {
  display: none;
}
@media (min-width: 768px) {
  .nav-login {
    display: block;
  }
}

.dropdown-divider {
  margin: 6px 0px 1px 0px;
}

.dropdown-menu[data-bs-popper] {
  left: -20%;
}

.dropdown-menu {
  border-radius: 5px;
  border-color: #adabab;
  font-size: 13px;
  padding: 6px 6px;
  margin: 0px;
  min-width: 100px;
  box-shadow: 0 0 1px #424242;
}

.dropdown-toggle::after {
  vertical-align: 1px;
}

.dropdown-item {
  padding: 6px 0px;
}

.navbar-toggler {
  margin: -5px;
  padding: 5px;
}
@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
}

.navbar-toggler:focus {
  box-shadow: none;
}

.ondo-close {
  padding: 0.5rem 0.5rem;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  margin-bottom: -0.5rem;
  position: relative;
  top: 13px;
  left: 9px;
}

.btn-toggle {
  padding: 15px 10px;
  font-size: 18px;
}

.btn--active,
.btn-toggle:hover,
.btn-toggle:focus {
  background-color: rgba(255, 255, 255, 0);
  color: #725eff;
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0);
  color: #725eff;
}

.btn-toggle-nav a {
  padding: 7px 10px;
  font-size: 14px;
  color: #424242d8;
}

.btn-toggle-nav--active,
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: rgba(255, 255, 255, 0);
  color: #725eff;
}

hr {
  margin: 5px 0px;
}

.text-muted {
  font-size: 11px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  font-size: 15px;
}

.nav-second {
  transition: top 0.1s;
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  z-index: 501;
}

.nav-second-content {
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  position: relative;
  min-height: 30px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: auto;
}

@media (min-width: 768px) {
  .nav-second-content {
    padding: 0px 40px;
    min-height: 49px;
    max-width: 1256px;
  }
}

.nav-second-menu {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-box-flex: 1;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 0;
  padding: 0 4px;
  min-width: 0;
  white-space: nowrap;
  font-size: 0;
  text-align: center;
}

@media (min-width: 600px) {
  .nav-second-menu {
    padding: 0 0 0 20px;
    margin: 0 8px 0 -12px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .nav-second-menu {
    padding: 0 0 0 0px;
    margin: 0 auto;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .nav-second-menu {
    padding: 0 0 0 20px;
  }
}

.nav-second-menu-item {
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 1;
  font-family: inherit;
  font-weight: 700;
  margin: 6px 6px;
  padding: 0px 5px 7px;
  border: none;
  background: none;
  color: #424242;
  cursor: pointer;
  vertical-align: bottom;
  text-decoration: none;
}

@media (min-width: 768px) {
  .nav-second-menu-item {
    font-size: 15px;
    line-height: 23px;
    margin: 8px 6px;
    padding: 8px 8px 4px;
    color: #424242;
  }
}

.nav-second-menu-item--active,
.nav-second-menu-item--open {
  color: #725eff;
}

@media (min-width: 768px) {
  .nav-second-menu-item:active,
  .nav-second-menu-item:hover {
    color: #725eff;
  }
}

.nav-second-menu-item--active:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 4px -4px 0;
  height: 2px;
  background-color: #725eff;
}

@media (min-width: 768px) {
  .nav-second-menu-item--active:after {
    margin: 6px -4px 0;
  }
}

.form-control {
  padding: 10px;
}
